<div class="footer" id="footer">
	
	<div class="credits col50">
		<h2>Credits</h2>
		<div class="credits-inner">
			<p class="gia-byline"><span>Words:</span> <a href='https://www.theguardian.com/profile/anne-davies'>Anne Davies</a></p>
			<p class="gia-byline"><span>Photo and video:</span> <a href='https://www.theguardian.com/profile/mike-bowers'>Mike Bowers</a></p>
			<p class="gia-byline"><span>Design and development:</span> <a href='https://www.theguardian.com/profile/andy-ball'>Andy Ball</a> and <a href='https://www.theguardian.com/profile/nick-evershed'>Nick Evershed</a></p>
		</div>
	</div>

	<div class="credits_read_more"><h2>Read more</h2></div>
	<ul class="footer-grid">

		<li>
			<div class="footer-item-container">
				<img src="https://i.guim.co.uk/img/media/e887ff6603ad0a924d0c3b70ba5c22fe0c3fcd91/0_0_3000_1801/master/3000.jpg?w=620&q=55&auto=format&usm=12&fit=max&s=83a09c8bd38e16fa750cc3e8c2425917">
				<div class="footer-text-content">
					<h2>Murray-Darling system under strain as orchard plantings increase 41%</h2>
				</div>
				<a class="class="anchor" href="https://www.theguardian.com/environment/2018/mar/22/murray-darling-system-under-strain-as-tree-plantations-increase-41" target="_blank"></a>
			</div>
		</li>

		
		<li>
			<div class="footer-item-container">
				<img src="https://i.guim.co.uk/img/media/6e7cf68d357527395bddc1bb3029415ea2178942/0_107_5325_3195/master/5325.jpg?w=620&q=55&auto=format&usm=12&fit=max&s=1ba4f71a88ed3dfaad5c89842a2cad5e">
				<div class="footer-text-content">
					<h2>Murray-Darling on alert over blue-green algae from water over-extraction</h2>
				</div>
				<a class="class="anchor" href="https://www.theguardian.com/australia-news/2018/mar/05/murray-darling-on-alert-over-blue-green-algae-from-water-over-extraction" target="_blank"></a>
			</div>
		</li>

		<li>
			<div class="footer-item-container">
				<img src="https://i.guim.co.uk/img/media/ad22d50bd7cf8164c4e148c852e82db2c3cb54c7/0_0_2954_1969/master/2954.jpg?w=860&q=55&auto=format&usm=12&fit=max&s=c415bc6fa6831352a7ebf6cea4a5ba55">
				<div class="footer-text-content">
					<h2>$78m buyback of Darling water was nearly double its valuation</h2>
				</div>
				<a class="class="anchor" href="https://www.theguardian.com/australia-news/2017/oct/26/78m-spent-on-darling-water-buyback-nearly-double-its-valuation" target="_blank"></a>
			</div>
		</li>

		<li>
			<div class="footer-item-container">
				<img src="https://i.guim.co.uk/img/media/fac767ce607f5e13e5d7a6e5ddfd86a845e8fb9e/0_279_4256_2553/master/4256.jpg?w=860&q=55&auto=format&usm=12&fit=max&s=311e66fb52bffbee7d9155fd11d00239">
				<div class="footer-text-content">
					<h2>NSW minister altered Barwon-Darling water-sharing plan to favour irrigators</h2>
				</div>
				<a class="class="anchor" href="https://www.theguardian.com/australia-news/2018/feb/08/nsw-minister-altered-barwon-darling-water-sharing-plan-to-favour-irrigators" target="_blank"></a>
			</div>
		</li>

		

	</ul>
</div>