<div id="intro_container">

	<div class="video resizer intro">

		<div class="bg-img"></div>

		<div data-vid="intro" data-video="title-cut" data-type="intro" class="video-wrapper">

			<!--video id="intro" playsinline muted loop="true" poster="https://interactive.guim.co.uk/embed/aus/2018/feb/mdb-multimedia/videos/1024/title-cut_1024.jpg"></video-->

		</div>

	</div>

	<div class="titles">
		<!--div class="owbl"><a href="https://www.theguardian.com/environment/series/our-wide-brown-land" target="_blank">
		Our wide brown land</div></a>
		<h1>Murray-Darling: <br>when the river runs dry</h1>
		<h3>Five years after the implementation of the Murray-Darling basin plan, our great river system is under stress. Follow our 3000km journey along the rivers, travelling from inland Queensland to the Murray mouth, to understand where the plan has failed those who live and work on this land</h3-->
	</div>

	<div class="video-skip-btn"><span></span></div>

</div>