<div id="app" class="interactive">

	<div id="intro_container">

		<div class="video__container">

			<div class="semi__transparent__gradient__overlay"></div>

			<div class="video__wrapper">

				<video id="intro" playsinline muted loop="true" poster="https://interactive.guim.co.uk/embed/aus/2018/feb/mdb-multimedia/videos/1024/title-cut_1024.jpg"></video>

			</div>

		</div>

		<div class="titles">
			<h1>The new normal?<br>How climate change is making droughts worse</h1>
			<h3>In the first part of a new series, we're going to take you through the current drought conditions, and then put them in historical context with other severe droughts in Australia.</h3>
		</div>


		<div class="scroll__down__page__btn"><span></span></div>

	</div>

	<div class="editorial_container">

		<div class="bylines"><a href='https://www.theguardian.com/profile/nick-evershed'>Nick Evershed</a> and <a href='https://www.theguardian.com/profile/andy-ball'>Andy Ball</a></div>

		<ul class="share-list">
			<li class="social__item social__item--facebook" data-link-name="facebook">
				<span class="inline-share-facebook inline-icon rounded-icon centered-icon social-icon social-icon--facebook"><svg class="rounded-icon__svg centered-icon__svg social-icon__svg social-icon--facebook__svg inline-share-facebook__svg inline-icon__svg" height="50" viewbox="-2 -2 32 32" width="50">
				<path d="M17.9 14h-3v8h-2.9v-8h-2v-2.9h2v-2.4c0-1.9 1.1-3.7 4-3.7 1.2 0 2 .1 2 .1v3h-1.8c-1 0-1.2.5-1.2 1.3v1.8h3l-.1 2.8z"></path></svg></span>
			</li>
			<li class="social__item social__item--twitter" data-link-name="twitter">
				<span class="inline-share-twitter inline-icon rounded-icon centered-icon social-icon social-icon--twitter"><svg class="rounded-icon__svg centered-icon__svg social-icon__svg social-icon--twitter__svg inline-share-twitter__svg inline-icon__svg" height="50" viewbox="-2 -2 32 32" width="50">
				<path d="M21.3 10.5v.5c0 4.7-3.5 10.1-9.9 10.1-2 0-3.8-.6-5.3-1.6.3 0 .6.1.8.1 1.6 0 3.1-.6 4.3-1.5-1.5 0-2.8-1-3.3-2.4.2 0 .4.1.7.1l.9-.1c-1.6-.3-2.8-1.8-2.8-3.5.5.3 1 .4 1.6.4-.9-.6-1.6-1.7-1.6-2.9 0-.6.2-1.3.5-1.8 1.7 2.1 4.3 3.6 7.2 3.7-.1-.3-.1-.5-.1-.8 0-2 1.6-3.5 3.5-3.5 1 0 1.9.4 2.5 1.1.8-.1 1.5-.4 2.2-.8-.3.8-.8 1.5-1.5 1.9.7-.1 1.4-.3 2-.5-.4.4-1 1-1.7 1.5z"></path></svg></span>
			</li>
		</ul>

		<div class="standfirst">
			<p><span class="drop-cap"><span class="drop-cap__inner">I</span></span>n the first part of our series on the drought in Australia, this feature will take you through the current drought conditions, and then put them in historical context with other severe droughts in Australia.</p>

			<p>Finally, we'll take a look at what effect climate change will have on drought in the future.</p>

		</div>

		<!-- -------------------------- Control vizualization position (Fixed or not) -------------------------- -->

		<div class="trigger" data-space-above="0" data-space-below="0"></div>

	</div>



	<div id="viz" class="vizualization">

		<div id="image_container">
			<div id="image_block">
				<div id="image_inside"></div>
			</div>
		</div>

		<div id="map_container">
			<div id="map_block">
				<div id="map"></div>
			</div>				
		</div>

	</div>

	<div class="editorial_container">

		<!-- -------------------------- Map of farmland -------------------------- -->
		
		<div class="trigger" data-space-above="100" data-space-below="0"></div>

		<div class="isolation_block">

			<p>First, we're going to show you Australia's farm belt.</p>

			<p>This map shows how land in Australia is categorised by use. In this case, we're showing the farmland that relies heavily on rainfall - cropping areas and grazing pastures, as well as irrigated areas.</p>

		</div>

		<!-- -------------------------- Map of farmland plus native vegetation -------------------------- -->

		<div class="trigger" data-space-above="75" data-space-below="25"></div>

		<div class="isolation_block">

			<p>A far greater amount of land is used for grazing, relying on areas of native vegetation further inland.</p>

		</div>

	</div>

	<div class="trigger" data-space-above="50" data-space-below="50"></div>

	<div class="fullscreen_container">

		<div class="breakout_block">

			<p>So what has happened in these areas?</p>

			<p>The Bureau of Meteorology measures drought in terms of "rainfall deficiency". Essentially, this compares rainfall over a given period to the long-term average, and then determines if it is above or below average, and by how much. Put simply it's a measurement that can show if there is too little – or too much – rain.</p>

			<p>Maps of rainfall deficiency show a significantly large portion of eastern Australia has been experiencing dryer than normal conditions since 2013, with the exception of a decent amount of rain in 2016.</p>

		</div>

	</div>


	<div class="editorial_container">

		<!-- -------------------------- GRAPHIC: Maps of rainfall deficiency from 2013 -------------------------- -->

		<div class="trigger" data-space-above="75" data-space-below="25"></div>

		<!-- -------------------------- GRAPHIC: Maps of rainfall deficiency from 2014 -------------------------- -->

		<div class="trigger" data-space-above="75" data-space-below="25"></div>

		<!-- -------------------------- GRAPHIC: Maps of rainfall deficiency from 2015 -------------------------- -->

		<div class="trigger" data-space-above="75" data-space-below="25"></div>


		<!-- -------------------------- GRAPHIC: Maps of rainfall deficiency from 2016 -------------------------- -->

		<div class="trigger" data-space-above="75" data-space-below="25"></div>


		<!-- ------------------------- GRAPHIC: Maps of rainfall deficiency from 2017 -------------------------- -->

		<div class="trigger" data-space-above="75" data-space-below="0"></div>


		<div class="isolation_block">

			<p>The lack of rain has been particularly severe in western Queensland, with some areas having been drought declared for the past five years. More recently, the drought has worsened in NSW to the point where in August 2018 the <a href="https://www.theguardian.com/environment/2018/aug/08/nsw-declared-100-in-drought-as-farmers-fear-relief-package-too-late" target="_blank">entire state was either in drought, or drought affected</a>.</p>

		</div>


		<!-- ------------------------- Map of soil moisture -------------------------- -->

		<div class="trigger" data-space-above="75" data-space-below="0"></div>

		<div class="isolation_block">

			<p>There are other indicators which can show the influence of drought, and its impact on the land.</p>

			<p>Root zone soil moisture measures the percentage of moisture in the top metre of soil, and is a good indication of the water available to plants in a given area. Drier soil can mean poorer crops, or none at all. This map shows the average root zone soil moisture for 2018 compared to the long term average for the last 105 years.</p>

			<p>In many areas of NSW the soil is about as dry as it has ever been with a large swathes of land in the driest 1%.</p>

		</div>

	</div>

	<!-- ------------------------- Trigger draught maps -------------------------- -->

	<div class="trigger" data-space-above="75" data-space-below="0"></div>

	<div class="fullscreen_container">

			<div class="breakout_block">

				<h2>History of droughts in Australia</h2>

				<p>It's clear that the current drought has had a devastating impact in many areas. But how does it compare with previous drought events?</p>

				<p>Since European occupation of Australia, there have been at least seven other major drought events.</p>

				<p>While some of these droughts pre-date the systematic collection of temperature records that started in 1900, climate researchers have use innovative techniques to reconstruct rainfall records for a period of Australian history covering the past 800 years.</p>

				<p>Mandy Freund is a climate scientist at the University of Melbourne who lead an innovative research project that <a href="https://theconversation.com/recent-australian-droughts-may-be-the-worst-in-800-years-94292" target="_blank">used tree rings, ice cores and corals to reconstruct rainfall records over a long period</a>, with the aim of examining climate variability in Australia.</p>

				<p>Her study found that the more recent droughts of the 20th and 21st century were particularly severe.</p>

				<p>"We found that the millenium drought in southern Australia was quite extreme, it was unprecedented in terms of intensity and duration," she said.</p>

				<p>Freund's research showed the WWII and Federation droughts were also particularly intense when compared against the last 400 years.</p>

				<p>The research also showed a change in rainfall patterns in Australia in the last century.</p>

				<p>"We found that the most recent period, the rainfall in the south is quite unusual - we're getting less rainfall, especially during the cool season," she said.</p>

				<p>"The other thing we found, specifically for northern Australia in the warm season, it's getting wetter than ever before."</p>

				<p>Here, you can see a comparison of historical and modern droughts using the reconstructed data up to 1900.</p>

			</div>

	</div>

	<!-- ------------------------- The Settlement drought (1790-1793) -------------------------- -->

	<div class="trigger" data-space-above="75" data-space-below="25"></div>

	<!-- ------------------------- Sturt's drought (1809-1830) -------------------------- -->

	<div class="trigger" data-space-above="75" data-space-below="25"></div>

	<!-- ------------------------- The Great drought (1809-1814) -------------------------- -->

	<div class="trigger" data-space-above="75" data-space-below="25"></div>

	<!-- ------------------------- The Goyder line drought (1861-1866)  -------------------------- -->

	<div class="trigger" data-space-above="75" data-space-below="25"></div>

	<!-- ------------------------- Federation drought (1895-1903) -------------------------- -->

	<div class="trigger" data-space-above="75" data-space-below="25"></div>


	<div class="fullscreen_container">

		<div class="breakout_block">

			<p>After 1900 there is detailed rainfall data available from the Bureau of Meteorology - this timeline shows the annual rainfall deficiency, with maps showing drier and wetter areas. .</p>

		</div>

		<div class="editorial_container">


			<div id="timeline_map"><span id="timeline_year">1900</span></div>

			<!-- ------------------------- Trigger add sticky timeline -------------------------- -->

			<div class="trigger" data-space-above="0" data-space-below="0"></div>

			<div class="anomolies_header">Timeline of weather anomolies (1900 - 2018)</div>

			<div class="anomolies_container">

				<div id="anomolies_block" class="anomolies_block"></div>

				<div id="canvas_container"></div>
				
			</div>

			<div class="trigger" data-space-above="0" data-space-below="25"></div>

		</div>

		<div class="breakout_block">

			<h2>How is climate change affecting drought in Australia?</h2>

			<p>According to <a href="http://www.bom.gov.au/state-of-the-climate/" target="_blank">the most recent State of the Climate report</a>, Australia has already warmed by 1 degree since 1910. Here, you can see the trend towards warmer years over the period covered by Bureau data:</p>

			<div id="temp_block" class="temp_block"></div>

			<p>So how will the warming trend affect drought in Australia, and what effect has it already had?</p>

			<p>According to Andrew King, a climate scientist at the University of Melbourne, climate change is already making droughts worse, but not necessarily in terms of length.</p>

			<p>"In general climate change is exacerbating drought - mainly because in a warmer world we experience more evaporation from the surface and we project for that to continue in the future," he said.</p>

			<p>"So when it does rain, more of that water is likely to be lost to the atmosphere through evaporation than before human caused climate change".</p>

			<p>However the science is more complicated when looking at the influence of climate change on rainfall, in part due to high levels of weather variability. </p>

			<p>"For most of Australia we don't really see a big trend, except for the south-west of Western Australia," he said.</p>

			<p>"We have really high variability in our rainfall as well, especially in inland NSW where the drought is worse at the moment. So there isn't much of a trend in rainfall deficiency, and there isn't much of a climate change influence."</p>

			<p>"But when we look at other measures of drought which incorporate temperature effects and evaporation changes then we start to see the climate change signal emerge - and that's projected to follow the same pattern in the future as well." </p>

			<p>The CSIRO and Bureau of Meteorology have compiled different models for predicting the outcome of climate change in Australia to produce a guide to how different regions will likely be affected.</p>

		</div>

	</div>

	<div class="editorial_container">

		<!-- ------------------------- Reset -------------------------- -->

		<div class="trigger" data-space-above="50" data-space-below="0"></div>

		<!-- ------------------------- Map showing where drought will increase -------------------------- -->

		<div class="isolation_block">

			<p>According to this work, droughts are predicted to increased in a large portion of southern Australia, though it's worth pointing out that the projection has a "medium" level of confidence in most areas (all of the projections are assigned a <a href="https://www.climatechangeinaustralia.gov.au/media/ccia/2.1.6/cms_page_media/168/Chapter%20Six.pdf" target="_blank">confidence level based on evidence, and amount of agreement between various bits of evidence</a>).</p>
						
		</div>

		<!-- ------------------------- Map showing where rain will change -------------------------- -->

		<div class="trigger" data-space-above="50" data-space-below="0"></div>

		<div class="isolation_block">

			<p>The prediction for rainfall changes is, as King says, quite variable. In several areas the winter or 'cool season' rainfall is predicted to decrease, but it's not clear whether this will necessarily lead to an overall annual decrease in rainfall in these areas.</p>

		</div>

		<!-- ------------------------- Map showing where rain will change -------------------------- -->

		<div class="trigger" data-space-above="75" data-space-below="0"></div>

		<div class="isolation_block">

			<p>However, the predictions around temperature and evaporation are comparatively very clear - every part of Australia will continue to experience increases in average temperature, and will have a higher frequency of hot days.</p>

		</div>

	</div>

	<!-- ------------------------- Map shoiwng where temperature will increase -------------------------- -->

	<div class="trigger" data-space-above="75" data-space-below="0"></div>


	<div class="fullscreen_container">

		<div class="breakout_block">

			<p>This will also result in higher evaporation across Australia, which will continue to make drought conditions worse in the future.</p>

			<p>None of this is easy information for regional and metropolitan Australia to digest. But if this is the new normal, governments, communities and individual operators will need to consider their options.</p>

			<p><em>In the next part, we will hear from the communities affected by the big dry.</em></p>

		</div>

	</div>

	<!-- ------------------------- Reset -------------------------- -->

	<div class="trigger" data-space-above="100" data-space-below="100"></div>
	

</div>