<div id="interactive_app" class="interactive">

	<div id="interactive_preloader"></div>



	<div class="displayed">

		<div class="editorial">

			<div class="display">

				<div class="bylines"><a href='https://www.theguardian.com/profile/nick-evershed'>Nick Evershed</a> and <a href='https://www.theguardian.com/profile/andy-ball'>Andy Ball</a></div>

				<ul class="share-list">
					<li class="social__item social__item--facebook" data-link-name="facebook">
						<span class="inline-share-facebook inline-icon rounded-icon centered-icon social-icon social-icon--facebook"><svg class="rounded-icon__svg centered-icon__svg social-icon__svg social-icon--facebook__svg inline-share-facebook__svg inline-icon__svg" height="50" viewbox="-2 -2 32 32" width="50">
						<path d="M17.9 14h-3v8h-2.9v-8h-2v-2.9h2v-2.4c0-1.9 1.1-3.7 4-3.7 1.2 0 2 .1 2 .1v3h-1.8c-1 0-1.2.5-1.2 1.3v1.8h3l-.1 2.8z"></path></svg></span>
					</li>
					<li class="social__item social__item--twitter" data-link-name="twitter">
						<span class="inline-share-twitter inline-icon rounded-icon centered-icon social-icon social-icon--twitter"><svg class="rounded-icon__svg centered-icon__svg social-icon__svg social-icon--twitter__svg inline-share-twitter__svg inline-icon__svg" height="50" viewbox="-2 -2 32 32" width="50">
						<path d="M21.3 10.5v.5c0 4.7-3.5 10.1-9.9 10.1-2 0-3.8-.6-5.3-1.6.3 0 .6.1.8.1 1.6 0 3.1-.6 4.3-1.5-1.5 0-2.8-1-3.3-2.4.2 0 .4.1.7.1l.9-.1c-1.6-.3-2.8-1.8-2.8-3.5.5.3 1 .4 1.6.4-.9-.6-1.6-1.7-1.6-2.9 0-.6.2-1.3.5-1.8 1.7 2.1 4.3 3.6 7.2 3.7-.1-.3-.1-.5-.1-.8 0-2 1.6-3.5 3.5-3.5 1 0 1.9.4 2.5 1.1.8-.1 1.5-.4 2.2-.8-.3.8-.8 1.5-1.5 1.9.7-.1 1.4-.3 2-.5-.4.4-1 1-1.7 1.5z"></path></svg></span>
					</li>
				</ul>

				<p><span class="drop-cap"><span class="drop-cap__inner">L</span></span>orem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut erat eget lectus dignissim hendrerit. Proin vestibulum, augue at pharetra convallis, velit eros mollis eros, eleifend commodo dui orci ac turpis.</p> 

				<p>Quisque sed consectetur felis. Vestibulum blandit lorem eu ultrices faucibus. Aliquam erat volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin neque felis, fringilla vitae magna lacinia, posuere sollicitudin erat. Vivamus ac nunc nisi.</p>

				<p>Aenean eget lacinia nibh. Nunc tempus tortor et sapien faucibus egestas. Donec eros dui, malesuada sit amet malesuada id, eleifend nec libero. Vestibulum hendrerit id dui sit amet feugiat. Duis tellus lacus, dapibus nec tempus eget, laoreet ut dolor. Praesent sed orci rutrum, viverra lectus a, commodo quam. Quisque magna dui, luctus vitae ultrices eu, commodo ut dolor. Donec viverra suscipit faucibus. Nam quis nisi magna. Duis egestas mattis nisi a semper. Nam dui lacus, tempor ac erat at, aliquet suscipit diam.</p>

			</div>

		</div>

	</div>

	<div class="contained" id="interactive_container">

		<div class="map resizer">

			<div id="image_container">
				<div id="image_block">
					<div id="image_inside"></div>
				</div>
			</div>

			<div id="map_container">
				<div id="map_block">
					<div id="map"></div>
				</div>				
			</div>

		</div>

		<div>
			<div class="section-skip-btn"><span></span></div>
		</div>

		<div class="editorial" id="sections">	

			<div data-type="trigger_image_map" class="trigger" data-id="0" data-space="25"></div>

			<div class="isolation_block">

				<p>Nulla ultricies, odio sit amet gravida luctus, est purus commodo nisi, porta ultrices dui risus ac arcu. Curabitur in rhoncus libero. Sed dapibus non leo vel varius. Fusce lacinia elementum erat, at consequat leo sollicitudin sed. Curabitur maximus fermentum elit, sed sagittis metus consectetur vitae. Mauris interdum, ipsum et dictum placerat, nisl urna vehicula orci, eu tempor lacus dui eget tellus. Mauris et enim odio. Vestibulum condimentum, eros porttitor varius elementum, quam odio sollicitudin quam, ac tempus mauris mauris ac tellus. Maecenas lacus augue, lobortis at magna ut, egestas rutrum dolor. Vivamus a venenatis nisi. Nulla pharetra tristique magna a mattis. Nullam quis tincidunt neque. Sed sit amet porttitor metus, non pretium ante.</p>

			</div>

			<div data-type="trigger_image_map" class="trigger" data-id="1" data-space="50"></div>

			<div class="isolation_block">

				<p>Nulla ultricies, odio sit amet gravida luctus, est purus commodo nisi, porta ultrices dui risus ac arcu. Curabitur in rhoncus libero. Sed dapibus non leo vel varius. Fusce lacinia elementum erat, at consequat leo sollicitudin sed. Curabitur maximus fermentum elit, sed sagittis metus consectetur vitae. Mauris interdum, ipsum et dictum placerat, nisl urna vehicula orci, eu tempor lacus dui eget tellus. Mauris et enim odio. Vestibulum condimentum, eros porttitor varius elementum, quam odio sollicitudin quam, ac tempus mauris mauris ac tellus. Maecenas lacus augue, lobortis at magna ut, egestas rutrum dolor. Vivamus a venenatis nisi. Nulla pharetra tristique magna a mattis. Nullam quis tincidunt neque. Sed sit amet porttitor metus, non pretium ante.</p>

			</div>

			<div data-type="trigger_image_map" class="trigger" data-id="2" data-space="50"></div>

			<div class="isolation_block">

				<p>Maecenas a urna eu augue viverra venenatis. Pellentesque at ultricies massa. Curabitur aliquam felis ut sapien ultrices feugiat. Duis a justo ante. Aenean id neque sed massa bibendum viverra. Nunc aliquam lorem sit amet posuere iaculis. Suspendisse suscipit luctus aliquet. Integer semper arcu eu tristique eleifend. Etiam sed sodales lacus. Morbi imperdiet consectetur lacus ut congue. Sed neque risus, blandit et lorem sit amet, volutpat hendrerit odio. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras et sodales ligula.</p>

			</div>

			<div data-type="trigger_image_map" class="trigger" data-id="3" data-space="50"></div>

			<div class="isolation_block">

				<p>Maecenas a urna eu augue viverra venenatis. Pellentesque at ultricies massa. Curabitur aliquam felis ut sapien ultrices feugiat. Duis a justo ante. Aenean id neque sed massa bibendum viverra. Nunc aliquam lorem sit amet posuere iaculis. Suspendisse suscipit luctus aliquet. Integer semper arcu eu tristique eleifend. Etiam sed sodales lacus. Morbi imperdiet consectetur lacus ut congue. Sed neque risus, blandit et lorem sit amet, volutpat hendrerit odio. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras et sodales ligula.</p>

			</div>

			<div data-type="trigger_image_map" class="trigger" data-id="4" data-space="50"></div>

			<div class="isolation_block">

				<p>Maecenas a urna eu augue viverra venenatis. Pellentesque at ultricies massa. Curabitur aliquam felis ut sapien ultrices feugiat. Duis a justo ante. Aenean id neque sed massa bibendum viverra. Nunc aliquam lorem sit amet posuere iaculis. Suspendisse suscipit luctus aliquet. Integer semper arcu eu tristique eleifend. Etiam sed sodales lacus. Morbi imperdiet consectetur lacus ut congue. Sed neque risus, blandit et lorem sit amet, volutpat hendrerit odio. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras et sodales ligula.</p>

			</div>

			<div data-type="trigger_timeline" class="trigger" data-id="0" data-space="50"></div>

			<div id="anomolies_block" class="anomolies_block"></div>

			<div data-type="trigger_hide" class="trigger" data-id="0" data-space="50"></div>

			<div data-type="trigger_vector_map" class="trigger" data-id="0" data-space="50"></div>

			<div class="isolation_block">

				<p>Maecenas a urna eu augue viverra venenatis. Pellentesque at ultricies massa. Curabitur aliquam felis ut sapien ultrices feugiat. Duis a justo ante. Aenean id neque sed massa bibendum viverra. Nunc aliquam lorem sit amet posuere iaculis. Suspendisse suscipit luctus aliquet. Integer semper arcu eu tristique eleifend. Etiam sed sodales lacus. Morbi imperdiet consectetur lacus ut congue. Sed neque risus, blandit et lorem sit amet, volutpat hendrerit odio. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras et sodales ligula.</p>

			</div>

			<div data-type="trigger_vector_map" class="trigger" data-id="1" data-space="50"></div>

			<div class="isolation_block">

				<p>Maecenas a urna eu augue viverra venenatis. Pellentesque at ultricies massa. Curabitur aliquam felis ut sapien ultrices feugiat. Duis a justo ante. Aenean id neque sed massa bibendum viverra. Nunc aliquam lorem sit amet posuere iaculis. Suspendisse suscipit luctus aliquet. Integer semper arcu eu tristique eleifend. Etiam sed sodales lacus. Morbi imperdiet consectetur lacus ut congue. Sed neque risus, blandit et lorem sit amet, volutpat hendrerit odio. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras et sodales ligula.</p>

			</div>

			<div data-type="trigger_vector_map" class="trigger" data-id="2" data-space="50"></div>

			<div class="isolation_block">

				<p>Maecenas a urna eu augue viverra venenatis. Pellentesque at ultricies massa. Curabitur aliquam felis ut sapien ultrices feugiat. Duis a justo ante. Aenean id neque sed massa bibendum viverra. Nunc aliquam lorem sit amet posuere iaculis. Suspendisse suscipit luctus aliquet. Integer semper arcu eu tristique eleifend. Etiam sed sodales lacus. Morbi imperdiet consectetur lacus ut congue. Sed neque risus, blandit et lorem sit amet, volutpat hendrerit odio. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras et sodales ligula.</p>

			</div>

		</div>

	</div>





</div>