<div>
	
	<div id="intro_container">

		<div class="video__container">

			<div class="semi__transparent__gradient__overlay"></div>

			<div data-vid="intro" data-video="intro" data-type="intro" class="video-wrapper vactive">

				<video id="intro" muted playsinline loop="true" poster="https://interactive.guim.co.uk/embed/aus/2018/oct/climate-change/images/{{prefix}}/intro.jpg"></video>

			</div>

		</div>

		<div class="titles">
			<h1>The new normal?<br>How climate change is making droughts worse</h1>
			<h3>In the first part of a new series, we take you through the current conditions, and then put them in context with other severe droughts in Australia’s history</h3>
		</div>


		<div class="scroll__down__page__btn"><span></span></div>

	</div>

	<div class="editorial_container">

		<div class="bylines"><a href='https://www.theguardian.com/profile/nick-evershed'>Nick Evershed</a>, <a href='https://www.theguardian.com/profile/andy-ball'>Andy Ball</a>, <a href="https://www.theguardian.com/profile/gabrielle-chan">Gabrielle Chan</a>, and <a href="https://www.theguardian.com/profile/mike-bowers">Mike Bowers</a></div>

        <div class="share-buttons">
            <div class="social_isolation">
                <button class="interactive-share" data-network="facebook" on-click="['social', 'facebook']"></button>
                <button class="interactive-share" data-network="twitter" on-click="['social', 'twitter']"></button>
            </div>
        </div>

		<div class="standfirst">
			<p><span class="drop-cap"><span class="drop-cap__inner">T</span></span>he hardest part of drought is the retreat. Communities withdraw into their shell. Workers leave town as they lose jobs and often housing, animals are sent away, class sizes drop, activity shrinks, dust drifts in through every crack in the house. It’s slow, which is why it messes with your head, creeping forward until something snaps and what begins as confusion reaches consensus.</p>

			<p>When Scott Morrison became prime minister in August, nearly seven years after the Queensland dry began, he announced drought was his first priority. He headed up Quilpie way, in the south-west of the state, and stood with farmers as he was asked pointed and persistent questions about climate change. </p>

			<p>“Whether it is climate change or it is not,” Morrison said, “is completely irrelevant to everybody here.”</p>

			<p>For people suffering from lack of income, both in town and farm, drought is awful and relentless as each day dawns an overwhelming blue. Often communities get so focussed on surviving from day to day, it is difficult to see a bigger picture.  While the consequences of drought for regional communities don’t change, the conversations about it are changing, centring more and more on best management in a changing climate. What if this is the new normal?</p>

			<div class="inline_column_image">
					<div class="inline_block">
						<img class="imagine" src="https://interactive.guim.co.uk/embed/aus/2018/oct/climate-change/images/{{prefix}}/drought-4.jpg">
					</div>
				</div>

			<div class="picture_caption captivate">
				Australian Prime Minister Scott Morrison holds up a photo from February 2016 of what sheep and cattle graziers Stephen and Annabel Tully's property used to look like. Photograph: Alex Ellinghausen
			</div>

			<p>Drought policy is still mostly conceived in the grip of dry times – a fact that has universally been lamented by farmers who have spoken to Guardian Australia.</p> 

			<p>The policy and media debate continues with the same old tropes. As one agribusiness operator said, “you could cut and paste the articles from each drought and no one would notice”.</p>

			<p>So, in this drought series, we are going to cut through the same old coverage and tell you something you hear less often.</p> 

			<p>First, we will give you the latest data on the changing climate. We will take you through the current drought conditions, and then put them in historical context with other severe droughts in Australia. We'll take a look at what effect climate change will have on drought in the future.</p>

			<p>In the second part of the series, we will travel to the worst drought-affected areas of Queensland  to talk to farmers – some of whom have been in drought for years – to show the range of experiences and their outlook on the land, their business and their communities.</p> 

			<p>In the third part, we will report on more recent drought policy history and the current government’s policies, combined with ideas from people on the ground.</p> 

			<p>Lastly, we will consider new ways of thinking about drought, alongside ancient ways of thinking about land management. Combined, these two elements turn conventional drought debate on its head.</p>


		</div>

		<!-- -------------------------- Control vizualization position (Fixed or not) -------------------------- -->

		<div class="trigger" data-space-above="0" data-space-below="0"></div>

	</div>


	<div class="fullscreen_container">

			<div class="multimedia_container hero">

				<div class="picture_frame">

					<img class="imagine" src="https://interactive.guim.co.uk/embed/aus/2018/oct/climate-change/images/{{prefix}}/drought-1.jpg">

				</div>

				<div class="picture_caption captivate">Drought-affected land near Tambo, Queensland. Photograph: Mike Bowers for Guardian Australia</div>

			</div>


		<div class="breakout_block">

			<h2>The current drought</h2>

			<p>First, we're going to show you Australia's farm belt.</p>

		</div>

	</div>

	<div id="viz" class="vizualization{{#if vizualization_fix}} graph-scroll-fixed{{/if}}">

		<div id="image_container">

			<div id="image_block" style="max-width:{{max_width}}px">

				{{#if map_display}}<div id="image_inside" style="background-image: url(https://interactive.guim.co.uk/embed/aus/2018/oct/climate-change/maps/{{prefix}}/{{map_src}})"></div>{{/if}}

			</div>

		</div>

		<div id="map_container">

			<div id="map_block" style="max-width:{{max_width}}px">

				<div id="map" class="{{#if NRM_clusters_display}} NRM_clusters_display {{else}} clusterhide {{/if}} {{#if NRM_sub_clusters_display}} NRM_sub_clusters_display {{else}} subclusterhide {{/if}}"></div>

			</div>

		</div>

	</div>

	<div class="editorial_container">

		<!-- -------------------------- Map of farmland -------------------------- -->
		
		<div class="trigger" data-space-above="100" data-space-below="0"></div>

		<div class="isolation_block">

			<p>This map shows how land in Australia is categorised by use. In this case, we're showing the farmland that relies heavily on rainfall – <span class="yellow">cropping areas</span> and <span class="green">grazing pastures</span>, as well as <span class="otherBlue">irrigated areas</span>.</p>

		</div>

		<!-- -------------------------- Map of farmland plus native vegetation -------------------------- -->

		<div class="trigger" data-space-above="75" data-space-below="25"></div>

		<div class="isolation_block">

			<p>A far greater amount of land is used for <span class="pink">grazing</span>, relying on areas of native vegetation further inland.</p>

		</div>

	</div>

	<div class="trigger" data-space-above="50" data-space-below="50"></div>

	<div class="fullscreen_container">

		<div class="breakout_block">

			<p>So what has happened in these areas?</p>

			<p>The Bureau of Meteorology measures drought in terms of rainfall "deficiency". Essentially, this compares rainfall over a given period with the long-term average, and then determines if it is below average, and by how much. Similarly, rainfall maps can show where rainfall has been heavier than usual. One way to represent this is with deciles, which indicate how rainfall in a particular period ranks in relation to all other years in the time period available (in this case, the reference period is 1911 to 2017).</p>

			<p>Maps of rainfall show a significantly large portion of eastern Australia has been experiencing <span class="darkOrange">drier than normal</span> conditions since 2013, despite a decent amount of rain falling in 2016:</p>

		</div>

	</div>


	<div class="editorial_container">

		<!-- -------------------------- GRAPHIC: Maps of rainfall deficiency from 2013 -------------------------- -->

		<div class="trigger" data-space-above="75" data-space-below="25"></div>

		<!-- -------------------------- GRAPHIC: Maps of rainfall deficiency from 2014 -------------------------- -->

		<div class="trigger" data-space-above="75" data-space-below="25"></div>

		<!-- -------------------------- GRAPHIC: Maps of rainfall deficiency from 2015 -------------------------- -->

		<div class="trigger" data-space-above="75" data-space-below="25"></div>


		<!-- -------------------------- GRAPHIC: Maps of rainfall deficiency from 2016 -------------------------- -->

		<div class="trigger" data-space-above="75" data-space-below="25"></div>


		<!-- ------------------------- GRAPHIC: Maps of rainfall deficiency from 2017 -------------------------- -->

		<div class="trigger" data-space-above="75" data-space-below="25"></div>

		<!-- ------------------------- GRAPHIC: Maps of rainfall deficiency from 2018 -------------------------- -->

		<div class="trigger" data-space-above="75" data-space-below="0"></div>



		<div class="isolation_block">

			<p>The lack of rain has been <span class="darkRed">particularly severe</span> in western Queensland, and some areas have been drought-declared for the past five years. More recently, the drought has worsened in NSW. In August 2018 the <a href="https://www.theguardian.com/environment/2018/aug/08/nsw-declared-100-in-drought-as-farmers-fear-relief-package-too-late" target="_blank">entire state was either in drought, or drought-affected</a>.</p>

		</div>


		<!-- ------------------------- Map of soil moisture -------------------------- -->

		<div class="trigger" data-space-above="75" data-space-below="0"></div>

		<div class="isolation_block">

			<p>There are other indicators that can show the influence of drought, and its impact on the land.</p>

			<p>Root zone soil moisture measures the percentage of moisture in the top metre of soil, and is a good indication of the water available to plants in a given area. <span class="darkOrange">Drier soil</span> can mean poorer crops, or none at all. This map shows the average root zone soil moisture for 2018 compared with the long-term average for the past 105 years.</p>

			<p>In many areas of NSW the soil is about as dry as it has ever been, with large swathes of land in the <span class="darkRed">driest 1%</span>.</p>

		</div>

	</div>

	<!-- ------------------------- Trigger draught maps -------------------------- -->

	<div class="trigger" data-space-above="75" data-space-below="0"></div>

	<div class="fullscreen_container">

			<div class="multimedia_container hero">

				<div class="picture_frame">

					<img class="imagine" src="https://interactive.guim.co.uk/embed/aus/2018/oct/climate-change/images/{{prefix}}/drought-2.jpg">

				</div>

				<div class="picture_caption captivate">Donkeys guarding sheep from attacks by wild dogs on Macfarlane station, near Tambo, Queensland. Photograph: Mike Bowers for Guardian Australia</div>

			</div>


			<div class="breakout_block">

				<h2>History of droughts in Australia</h2>

				<p>It's clear that the current drought has had a devastating impact in many areas. But how does it compare with previous drought events?</p>

				<p>Since European occupation of Australia, there have been at least seven other major drought events.</p>

				<p>While some of these droughts pre-date the systematic collection of temperature records that started in 1900, climate researchers have used innovative techniques to reconstruct rainfall records for a period of Australian history covering the past 800 years.</p>

				<p>Mandy Freund is a climate scientist at the University of Melbourne who led an innovative research project that <a href="https://theconversation.com/recent-australian-droughts-may-be-the-worst-in-800-years-94292" target="_blank">used tree rings, ice cores and corals to reconstruct rainfall records over a long period</a>, with the aim of examining climate variability in Australia.</p>

				<p>Her study found that the more recent droughts of the 20th and 21st century were particularly severe.</p>

				<div class="inline_column_image">
					<div class="inline_block">
						<img class="imagine" src="https://interactive.guim.co.uk/embed/aus/2018/oct/climate-change/images/{{prefix}}/drought-5.jpg">
					</div>
				</div>

				<div class="picture_caption captivate">
					Sommariva station, a cattle and olive business outside Charleville, Queensland Australia. Photograph: Mike Bowers for Guardian Australia
				</div>


				<p>"We found that the millenium drought in southern Australia was quite extreme; it was unprecedented in terms of intensity and duration," she says.</p>

				<p>Freund's research showed the second world war and Federation droughts were also particularly intense when compared against droughts over the past 400 years.</p>

				<p>The research also showed a change in rainfall patterns in Australia in the past century.</p>

				<p>"We found that [in] the most recent period, the rainfall in the south is quite unusual – we're getting less rainfall, especially during the cool season," she says.</p>

				<p>"The other thing we found, specifically for northern Australia in the warm season, it's getting wetter than ever before."</p>

				<p>Here, you can see a comparison of historical and modern droughts using the reconstructed data up to 1900:</p>




			</div>

	</div>

	<!-- ------------------------- The Settlement drought (1790-1793) -------------------------- -->

	<div class="trigger" data-space-above="75" data-space-below="25"></div>

	<!-- ------------------------- Sturt's drought (1809-1830) -------------------------- -->

	<div class="trigger" data-space-above="75" data-space-below="25"></div>

	<!-- ------------------------- The Great drought (1809-1814) -------------------------- -->

	<div class="trigger" data-space-above="75" data-space-below="25"></div>

	<!-- ------------------------- The Goyder line drought (1861-1866)  -------------------------- -->

	<div class="trigger" data-space-above="75" data-space-below="25"></div>

	<!-- ------------------------- Federation drought (1895-1903) -------------------------- -->

	<div class="trigger" data-space-above="75" data-space-below="25"></div>


	<div class="fullscreen_container">

		<div class="breakout_block">

			<p>After 1900 there is detailed rainfall data available from the Bureau of Meteorology. This timeline shows the annual rainfall "anomaly", that is how <span class="mediumBlue">high</span> or <span class="darkRed">low</span> the total for a given year is in relation to the long-term average. The maps show the geographic distribution of rainfall, or lack of rainfall:</p>

		</div>

		<div class="editorial_container">

			{{#if timeline_map_display}}<div id="timeline_map" class="timeline_map{{#if timeline_map_fix}} timeline-scroll-fixed{{/if}}" style="background-image: url({{filename}}{{timeline_map_src}})"><span id="timeline_year">{{timeline_year}}</span></div>{{/if}}

			<!-- ------------------------- Trigger add sticky timeline -------------------------- -->

			<div class="trigger" data-space-above="0" data-space-below="0"></div>

			<div class="anomolies_header{{#if timeline_fix}} graph-scroll-fixed{{/if}}">Timeline of rainfall anomaly</div>

			<div class="anomolies_container">

				<div id="anomolies_block" class="anomolies_block"></div>

				<div id="canvas_container"></div>
				
			</div>

			<div class="trigger" data-space-above="0" data-space-below="0"></div>

		</div>

		<div class="multimedia_container hero">

			<div class="picture_frame">

				<img class="imagine" src="https://interactive.guim.co.uk/embed/aus/2018/oct/climate-change/images/{{prefix}}/drought-3.jpg">

			</div>

			<div class="picture_caption captivate">Cattle stay close to a dam on Sommariva station, a cattle and olive business outside Charleville, Queensland. Photograph: Mike Bowers for Guardian Australia</div>

		</div>


		<div class="breakout_block">

			<h2>How is climate change affecting drought in Australia?</h2>

			<p>According to <a href="http://www.bom.gov.au/state-of-the-climate/" target="_blank">the most recent State of the Climate report</a>, Australia has already warmed by 1C since 1910. Here, you can see the trend towards <span class="darkRed">warmer years</span> over the period covered by bureau data:</p>

			<div id="temp_block" class="temp_block"></div>

			<p>So how will the warming trend affect drought in Australia, and what effect has it already had? </p>

			<p>According to Andrew King, a climate scientist at the University of Melbourne, climate change is already making droughts worse, but not necessarily in terms of length.</p>

			<p>"In general climate change is exacerbating drought, mainly because in a warmer world we experience more evaporation from the surface, and we project for that to continue in the future," he says.</p>

			<p>"So when it does rain, more of that water is likely to be lost to the atmosphere through evaporation than before human-caused climate change".</p>

			<p>However, the science is more complicated when looking at the influence of climate change on rainfall, in part due to high levels of weather variability.</p> 

			<p>"For most of Australia we don't really see a big trend, except for the south-west of Western Australia," King says.</p>

			<p>"We have really high variability in our rainfall as well, especially in inland NSW where the drought is worse at the moment. So there isn't much of a trend in rainfall deficiency, and there isn't much of a climate change influence.</p>

			<p>"But when we look at other measures of drought, which incorporate temperature effects and evaporation changes, then we start to see the climate change signal emerge – and that's projected to follow the same pattern in the future as well."</p> 

			<p>The CSIRO and Bureau of Meteorology have compiled different models for predicting the outcome of climate change in Australia to produce a guide to how different regions will likely be affected.</p>


		</div>

	</div>

	<div class="editorial_container">

		<!-- ------------------------- Reset -------------------------- -->

		<div class="trigger" data-space-above="75" data-space-below="25"></div>

		<!-- ------------------------- Map showing where drought will increase -------------------------- -->

		<div class="isolation_block">

			<p>According to this work, droughts are <span class="darkOrange">predicted to increase</span> in a large portion of southern Australia, though it's worth pointing out that the projection has a "medium" level of confidence in most areas (all of the projections are assigned a <a href="https://www.climatechangeinaustralia.gov.au/media/ccia/2.1.6/cms_page_media/168/Chapter%20Six.pdf" target="_blank">confidence level based on evidence, and amount of agreement between various bits of evidence</a>).</p>
						
		</div>

		<!-- ------------------------- Map showing where rain will change -------------------------- -->

		<div class="trigger" data-space-above="75" data-space-below="25"></div>

		<div class="isolation_block">

			<p>The prediction for rainfall changes is, as King says, quite variable. In several areas the winter or “cool season” rainfall is <span class="darkOrange">predicted to decrease</span> with varying levels of confidence but it's not clear whether this will necessarily lead to an overall annual decrease in rainfall in these areas.</p>

		</div>

		<!-- ------------------------- Map showing where rain will change -------------------------- -->

		<div class="trigger" data-space-above="75" data-space-below="25"></div>

		<div class="isolation_block">

			<p>However, the predictions around temperature and evaporation are comparatively very clear: every part of Australia will continue to experience <span class="darkRed">increases in average temperature</span>, and will have a higher frequency of hot days.</p>

			<p>This will also result in higher evaporation across Australia, which will continue to make drought conditions worse in the future.</p>

		</div>

	</div>

	<!-- ------------------------- Map shoiwng where temperature will increase -------------------------- -->

	<div class="trigger" data-space-above="75" data-space-below="0"></div>


	<div class="fullscreen_container">

		<div class="breakout_block">

			<div class="inline_column_image">
					<div class="inline_block">
						<img class="imagine" src="https://interactive.guim.co.uk/embed/aus/2018/oct/climate-change/images/{{prefix}}/drought-6.jpg">
					</div>
			</div>

			<div class="picture_caption captivate">
					Cracked dirt roadway near Tambo, Queensland Australia. Photograph: Mike Bowers for Guardian Australia
			</div>

			<p>None of this is easy information for regional and metropolitan Australia to digest. But if this is the new normal, governments, communities and individual operators will need to consider their options.</p>

			<p><em>In part 2 of The New Normal we will hear from the people affected by drought. The New Normal is part of <a href="https://www.theguardian.com/environment/series/our-wide-brown-land">Our wide brown land series</a>, made possible thanks to support from our readers</em></p>

		</div>

	</div>

	<!-- ------------------------- Reset -------------------------- -->

	<div class="trigger" data-space-above="50" data-space-below="0"></div>

	<div class="footer" id="footer">
		
		<div class="credits col50">
			<h2>Credits</h2>
			<div class="credits-inner">
				<p class="gia-byline"><span>Words:</span> <a href='https://www.theguardian.com/profile/gabrielle-chan'>Gabrielle Chan</a> and <a href='https://www.theguardian.com/profile/nick-evershed'>Nick Evershed</a></p>
				<p class="gia-byline"><span>Photo and video:</span> <a href='https://www.theguardian.com/profile/mike-bowers'>Mike Bowers</a></p>
				<p class="gia-byline"><span>Design and development:</span> <a href='https://www.theguardian.com/profile/andy-ball'>Andy Ball</a> and <a href='https://www.theguardian.com/profile/nick-evershed'>Nick Evershed</a></p>
			</div>
		</div>

		<div class="credits col50">
			<h2>Sources and references</h2>
			<div class="credits-inner">
				<p>Rainfall and soil moisture data - <a href="http://www.bom.gov.au/water/landscape/#/sm/Actual/day/-28.4/130.4/3/Point////2018/10/1/">Australian Landscape Water Balance</a></p>
				<p>Climate change projects and map files - <a href="https://www.climatechangeinaustralia.gov.au/en/">Climate Change in Australia</a></p>
				<p><a href="http://www.bom.gov.au/climate/change/index.shtml#tabs=Tracker&tracker=timeseries">Temperature anomaly data</a>, <a href="http://www.bom.gov.au/climate/history/rainfall/">rainfall maps</a>, and <a href="http://www.bom.gov.au/climate/change/#tabs=Tracker&tracker=timeseries&tQ=graph%3Drain%26area%3Daus%26season%3D0112%26ave_yr%3D0">rainfall anomaly data</a> - Bureau of Meteorology
				</p>
				<p><a href="https://fingfx.thomsonreuters.com/gfx/rngs/AUSTRALIA-DROUGHT/010071MC33G/index.html">The cancer eating away at farms</a> - Reuters</p>
				<p><a href="http://www.abc.net.au/news/2014-02-26/100-years-of-drought/5282030">Interactive: 100 years of drought in Australia</a> - ABC</p>
				<p><a href="https://theconversation.com/recent-australian-droughts-may-be-the-worst-in-800-years-94292">Recent Australian droughts may be the worst in 800 years</a> - The Conversation</p>
				<p><a href="https://theconversation.com/is-australias-current-drought-caused-by-climate-change-its-complicated-97867">Is Australia’s current drought caused by climate change? It’s complicated</a> - The Conversation</p>
			</div>
		</div>


		<div class="credits_read_more"><h2>Read more</h2></div>
		<ul class="footer-grid">

			<li>
				<div class="footer-item-container">
					<img src="https://i.guim.co.uk/img/media/1a981352cc7ed787c53dc33a37083d666b9f137e/0_375_3992_2395/master/3992.jpg?width=620&quality=85&auto=format&fit=max&s=c3502e443aec803f0e6f529067a5b140">
					<div class="footer-text-content">
						<h2>The land falls silent: Australian farmers battle life without rain</h2>
					</div>
					<a class="anchor" href="https://www.theguardian.com/environment/2018/sep/03/australian-farmers-battle-life-without-rain-drought" target="_blank"></a>
				</div>
			</li>

			
			<li>
				<div class="footer-item-container">
					<img src="https://i.guim.co.uk/img/media/c59708471aa63f0cca0bc7785392117e3d1a5908/0_0_4500_3000/master/4500.jpg?width=620&quality=85&auto=format&fit=max&s=12728eeab649753d905d1662b075a3a1">
					<div class="footer-text-content">
						<h2>'It's dire': farmers battle their worst drought in 100 years – photo essay</h2>
					</div>
					<a class="anchor" href="https://www.theguardian.com/environment/2018/jul/19/you-count-your-blessings-farm-families-battling-drought-photo-essay" target="_blank"></a>
				</div>
			</li>

			<li>
				<div class="footer-item-container">
					<img src="https://i.guim.co.uk/img/media/dae314870dfffd3b9c3c8438be61d9c12d296387/0_208_3264_1958/master/3264.jpg?width=620&quality=85&auto=format&fit=max&s=0d2111d10f2f21f0f9e98dbadab3f9c3">
					<div class="footer-text-content">
						<h2>Australia's drought crisis and farmers' stories of anxiety, fear and resilience</h2>
					</div>
					<a class="anchor" href="https://www.theguardian.com/australia-news/2018/aug/04/australias-drought-crisis-and-farmers-stories-of-anxiety-fear-and-resilience" target="_blank"></a>
				</div>
			</li>

			<li>
				<div class="footer-item-container">
					<img src="https://i.guim.co.uk/img/media/c20038830851bcb9b1cae25a8738ffb4088e08b4/0_0_4576_3051/master/4576.jpg?width=620&quality=85&auto=format&fit=max&s=65baec98e47e322c09e8b1ca02c4ab49">
					<div class="footer-text-content">
						<h2>If you’re talking about drought but not climate change, you’re not doing your job, PM</h2>
					</div>
					<a class="anchor" href="https://www.theguardian.com/business/grogonomics/2018/aug/30/if-youre-talking-about-drought-but-not-climate-change-youre-not-doing-your-job-pm" target="_blank"></a>
				</div>
			</li>

		</ul>
		
	</div>

</div>