@import "mq";
@import "fonts";
@import "palette";

@import "new/video";
@import "new/editorial";
@import "new/triggers";
@import "new/social";
@import "new/vizualization";
@import "new/timeline";
@import "new/titles";
@import "new/footer";
@import "new/multimedia";
@import "new/preloader";
@import "new/textspans";

@import "fullscreen";
.element-atom,
.interactive-atom {
    margin: 0 !important;
}

body {
    background-color: white;
}


#climate_interactive {
	width: 100%;
	display: inline-block;
}
