
.picture_frame {
	width: 100%;
	display: inline-block;
	background-color: black;
}
.multimedia_container {
	width: 100%;
	max-width: 1300px;
	margin: auto;
	display: block;
	position: relative;
}
.picture_caption {
	font-size: 12px;
	line-height: 16px;
	font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	margin-bottom: 20px;
}
@media (max-width: 800px) {
	.picture_caption {
		padding-right: 10px;
		padding-left: 10px;
	}
}
@media (min-width: 800px) {
	.picture_frame {
		position: relative;
	}
}
.picture_frame img {
	width: 100%;
	height: auto;
}

@media (min-width: 800px) {
	.fullscreen_container .copy_block {
		max-width: 800px;
		margin: auto;
		padding-top: 20px;
	}
}
@media (max-width: 799px) {
	.fullscreen_container .copy_block {
		width: calc(100% - 20px);
		max-width: 600px;
		margin: auto;
		padding-top: 10px;
	}
}
.fullscreen_container h4 {
	max-width: 620px;
	margin: auto;
	padding-bottom: 0.5rem;
	text-shadow: 1px 1px 10px #1b1b1b;
}
.multimedia_title h4 {
	color: white;
	font-size: 3rem;
	line-height: 3rem;
}
.fullscreen_container .multimedia_title {
	width: 100%;
	padding-bottom: 1rem;
}
.hero {
	margin-top: 40px;
}
@media (min-width: 800px) {
	.multimedia_title {
		position: absolute;
		bottom: 40px;
		color: white;
	}
}
@media (max-width: 799px) and (min-width: 600px) {
	.multimedia_title {
		position: absolute;
		bottom: 60px;
		color: white;
	}
}
@media (max-width: 599px) {
	.multimedia_title {
		position: absolute;
		bottom: 60px;
		color: white;
	}
}
.imagine {
	cursor: pointer;
}


.inline_column_image {
	width: 100%;
	max-width: 800px;
	padding-bottom: 20px;
}

.inline_column_image img {
	width: 100%;
}

.imagine {
	cursor: pointer;
}
