span.darkRed {
	border-bottom: 2px solid #fc8d62;
}

span.darkOrange {
	border-bottom: 2px solid #66c2a5;
}

span.lightOrange {
	border-bottom: 2px solid #b51800;
}

span.neutralGray {
	border-bottom: 2px solid #005689;
}

span.lightBlue {
	border-bottom: 2px solid #767676;
}

span.mediumBlue {
	border-bottom: 2px solid #b82266;
}

span.darkBlue {
	border-bottom: 2px solid #767676;
}