@import "mq";


.titles {

	@include mq($until: tablet) {
		z-index: 1001;
		position: absolute;
		top: 20%;
		left: 10%;
		width: 80%;
		color: white;
	}

	@include mq($from: tablet) {
		position: absolute;
		z-index: 1001;
		left: 30%;
		top: 30%;
		max-width: 600px;
		transform: translateX(-50%);
		color: white;
	}

}

.titles h1 {

	font-family: "Guardian Egyptian Web", "Guardian Text Egyptian Web", Georgia, serif;
	font-weight: 900;
	color: #d8e0cb;
	text-shadow: 1px 1px 10px #1b1b1b;
	max-width: 400px;


	@include mq($until: tablet) {
		font-size: 33px;
		line-height: 37px;
	}

	@include mq($from: tablet) {
		font-size: 45px;
		line-height: 50px;
	}

}

.chart_header {
	font-family: 'Guardian Text Sans Web', TextSans, Arial, sans-serif;
    font-size: 20px;
    font-weight:600;
    margin-bottom:10px;
}

.titles h3 {

	max-width: 400px;

	@include mq($until: tablet) {
		font-size: 20px;
		line-height: 24px;
		margin-top: 20px;
	}

	@include mq($from: tablet) {
		font-size: 24px;
		line-height: 28px;
		margin-top: 20px;
		font-size: 1.4rem;
		line-height: 2rem;
	}

}
