

@media (min-width: 800px) {
	.titles {
		position: absolute;
		z-index: 1001;
		left: 50%;
		bottom: 20%;
		transform: translateX(-50%);
		color: white;
	}
	.titles h1 {
		font-size: 3rem;
		line-height: 3.2rem;
		font-family: "Guardian Egyptian Web", "Guardian Text Egyptian Web", Georgia, serif;
		font-weight: 900;
		color: #d8e0cb;
		width: 75%;
		text-shadow: 1px 1px 10px #1b1b1b;
	}
	.titles h3 {
		margin-top: 20px;
		width: 75%;
		font-size: 1.4rem;
		line-height: 1.6rem;
	}
}

@media (max-width: 799px) {
	.titles {
		z-index: 1001;
		position: absolute;
		top: 20%;
		left: 10%;
		width: 80%;
		color: white;
	}
	.titles h1 {
		font-size: 3rem;
		line-height: 3.2rem;
		font-family: "Guardian Egyptian Web", "Guardian Text Egyptian Web", Georgia, serif;
		font-weight: 900;
		text-shadow: 1px 1px 10px #1b1b1b;
	}
	.titles h3 {
		margin-top: 20px;
		font-size: 1.4rem;
		line-height: 2rem;
	}
}
