@import "mq";

.vizualization {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 3;
}

.vizualization  svg {
    z-index: 2;
}

#map_container {
    overflow: hidden; 
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
}

#image_container {
    overflow: hidden; 
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    z-index: -1;
}

#image_block {
    width: 100%;
    margin: auto;
    max-width: 960px;

    @include mq($until: tablet) {
        margin-top: 40px;
    }

}

#map_block {
    width: 100%;
    margin: auto;
    max-width: 960px;
}

#image_block img {
    width: 100%;
    height: auto;
}

#image_inside {
    width: 100%;
    height: 0px;
    padding-bottom: 100%;
    background-size: cover;
}



#map {
    width: 100%;
    position: relative;
}

#special_container {
	width: 100%;
	display: inline-block;
	background-color: pink;
}


.graph-scroll-fixed{
    position: fixed;
    top: 0px;
    background-color: transparent;
}

.graph-scroll-below {
  position: absolute;
  bottom: 0px;
  top: auto;
}



.drought_labels {
    font-family: 'Guardian Text Sans Web', TextSans, Arial, sans-serif;
    
    border-bottom: 1px solid darkgrey;

    @include mq($until: tablet) {
        font-size: 10px;
    }

    @include mq($from: tablet) {
        font-size: 13px;
    }




}




.bar--positive {
    fill: darkorange;
}

.bar--negative {
    fill: steelblue;
}

.axis text {
    font: 12px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.keybox {
    font-size: 13px;
    line-height: 15px;
    font-family: 'Guardian Text Sans Web', TextSans, Arial, sans-serif;
    color: darkgrey;

    @include mq($until: desktop) {
        margin-top: 200px;
    }


    @include mq($from: desktop) {
        margin-left: 55px;
    }

}

.keybox ul {
    list-style-type: none;
}

.keybox ul li {
    margin-bottom: 5px;
}


.keybox ul div {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    float: left;
    border: 1px solid darkgrey;
}

.chart_titles {
    font-family: 'Guardian Text Sans Web', TextSans, Arial, sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    box-sizing: border-box;

    @include mq($until: desktop) {
        padding-left: 20px;
        padding-right: 10px;
    }

    @include mq($from: desktop) {
        margin-left: 80px;
    }

}

#temp_block {
    
    display: inline-block;

    @include mq($until: tablet) {
        width: 100%;
    }

    @include mq($from: tablet) {
        width: 100%;
    }


}



